<!-- Base.html runs over all the other pages. Essentially all the elements in base.html are included 
  in the linked html document -->

<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- import css aspects of bootstrap -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"/>
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"/>
      <!-- Links the main stylesheet (styles.css) -->
      <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">

        <!-- The reason I decided to use another stylesheet was simply for organisational purposes.
        This css file would contain styles dedicated towards the pages users can access once logged in, with the exception
        of the resources page
        -->
        <link rel="stylesheet" href="{{ url_for('static',filename='login-style.css') }}">

      <!-- Inserts an icon in the tab bar -->
      <link rel="icon" type="image/png" href="{{url_for('static', filename='Images/logo.png')}}">

      <!-- Imports fontawesome icons -->
      <script src="https://kit.fontawesome.com/24a8b43a48.js" crossorigin="anonymous"></script>
      <!-- Links the main javascript (app.js) -->
      <script src="{{ url_for('static',filename='app.js') }}"></script>

      <!-- Import javascript aspects of bootstrap -->
      <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>

      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>

      <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

      <!-- Loading certain fonts from google fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,800;1,400&display=swap" rel="stylesheet">

      <!-- importing fontawesome, used for icons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />      
      
      <!-- icon -->
      <link rel="icon" type="image/png" href="images/logo.png">

      <title>{% block title %}Home{% endblock %}</title><!-- An appropriate title for the homepage -->
  </head>


  <body>
    <!-- sidebar for navigation -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a><!-- Close sidebar button -->
      <div>
          {% if user.is_authenticated%}  <!-- if the user is authenticated/logged in, display these links -->
          <a class="highlight" href="/homepage">Announcements</a>
          <a class="highlight" href="/notes">Notes</a>
          <a class="highlight" href="/resources">Resources</a>
          {%else%}<!-- if the user is not authenticated, display these links -->
          <a class="highlight" href="/">Home</a>
          <a class="highlight" href="/about">About</a>
          <a class="highlight" href="/contacts">Contact us</a>
          <a class="highlight" href="/information">Additional information!</a>
          {%endif%}<!-- closes the "if statement" -->
      </div> 
      <!-- Links which will be on the bottom of the bar -->
      <div class="bottom">
          <hr>
          {% if user.is_authenticated%}<!-- if the user is authenticated, show the option to logout -->
          <a class='highlight' href="/logout">Logout</a>
          {%else%}<!-- if the user is not authenticated, show the login/sign-up options -->
          <a class="highlight" href="/login">Login</a>
          <a class="highlight" href="/signup">Sign Up</a>
          {% endif %}<!-- closes the "if statement" -->
      </div>
    </div>

    <div id="main"> <!-- open sidebar button -->
      <button id="sidebar-button" class="openbtn" onclick="openNav()">☰</button>  
    </div>


      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}<!-- If there is a message -->
        {% for category, message in messages%}
          <!-- If the message is an error message, run the following div -->
          {% if category == 'error' %}
          <!-- Utilises bootstrap CSS classes -->
          <div class="alert alert-message alter-dismissable" role="alert">
            <!-- Displays the message -->
            {{ message }}
            <!-- Displays a button to dismiss the alert -->
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {%endif%}<!-- Ends the if statement. This is Jinja notation-->
        {%endfor%} <!-- Ends the for statement. This is Jinja notation-->       
      {% endif%}<!-- Ends the if statement. This is Jinja notation-->
      {% endwith %}<!-- Ends the with statement. This is Jinja notation-->  

    <div>
      {% block content %}
      {% endblock%}
    </div>



    <!-- Footer will extend to any page which the user is not authenticated in -->
    {% if not(user.is_authenticated)%}
    <footer>
      <!-- bar on top to seperate area -->
      <hr>
      <div class="row">
        <!-- formated in 4 columns -->
        <!-- First column - logo and text area -->
          <div class="col">
            <!-- organisation's logo -->
            <img src="{{url_for('static', filename='Images/logo.png')}}">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor 
              </p>
          </div>
          <!-- 2nd column - information of the organisation -->
          <div class="col">
              <h3>Information <div class="underline"><span></span></div></h3>
              <p>Old Scona Academic</p>
              <p>Edmonton, Alberta</p>
              <p class="email-id">Email.com</p>
              <h4>(123)-456-7890</h4>
          </div>
          <!-- 3rd column - links to the webpage -->
          <div class="col">
              <h3>Links<div class="underline"><span></span></div></h3>
              <ul>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contacts">Contacts</a></li>
                  <li><a href="/information">Additional information</a></li>
              </ul>
          </div>
          <!-- 4th column - links to social media -->
          <div class="col">
              <h3>Social Media<div class="underline"><span></span></div></h3>
              <!-- Are for social media icons -->
              <div class="social-icons">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-whatsapp"></i>
                  <i class="fab fa-pinterest"></i>
              </div>
          </div>
      </div>
      <hr>
      <!-- copyright on the bottom -->
      <p class="copyright">LifeLong Learners © 2023 - All Rights Reserved</p>
    </footer>
    {%endif%}
  </body>
</html>